#####################################################################
# Default
#####################################################################
IOBUF ALLPORTS IO_TYPE=LVTTL33 PULLMODE=DOWN ;
#####################################################################
# Clocks & Resets
#####################################################################
LOCATE COMP "ADDON_RESET_IN" SITE "E16" ;
IOBUF PORT "ADDON_RESET_IN" IO_TYPE=LVTTL33 PULLMODE=UP ;

LOCATE COMP "RESET_F1_IN" SITE "F15" ;

IOBUF PORT "RESET_F1_IN" IO_TYPE=LVTTL33 PULLMODE=UP ;

LOCATE COMP "CLK_100_IN" SITE "M29" ;#F1_GPCLOCK100_P
IOBUF PORT "CLK_100_IN" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "CLK_125_IN" SITE "P28" ;#F1_GPCLOCK125_P
IOBUF PORT "CLK_125_IN" IO_TYPE=LVDS25 PULLMODE=NONE ;

#####################################################################
# Test connector
#####################################################################
LOCATE COMP "TEST_LINE_0" SITE "F7" ;
LOCATE COMP "TEST_LINE_1" SITE "D8" ;
LOCATE COMP "TEST_LINE_2" SITE "J13" ;
LOCATE COMP "TEST_LINE_3" SITE "G11" ;
LOCATE COMP "TEST_LINE_4" SITE "H13" ;
LOCATE COMP "TEST_LINE_5" SITE "H12" ;
LOCATE COMP "TEST_LINE_6" SITE "E8" ;
LOCATE COMP "TEST_LINE_7" SITE "D9" ;
LOCATE COMP "TEST_LINE_8" SITE "D12" ;
LOCATE COMP "TEST_LINE_9" SITE "E13" ;
LOCATE COMP "TEST_LINE_10" SITE "E12" ;
LOCATE COMP "TEST_LINE_11" SITE "D11" ;
LOCATE COMP "TEST_LINE_12" SITE "H11" ;
LOCATE COMP "TEST_LINE_13" SITE "F11" ;
LOCATE COMP "TEST_LINE_14" SITE "H16" ;
LOCATE COMP "TEST_LINE_15" SITE "F16" ;
DEFINE PORT GROUP "TEST_LINE_group" "TEST_LINE*" ;
IOBUF GROUP "TEST_LINE_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
#####################################################################
# Flash & Reboot Control
#####################################################################
LOCATE COMP "PROGRAMB_OUT" SITE "B15" ;# PGRAMN_F1
IOBUF PORT "PROGRAMB_OUT" IO_TYPE=LVTTL33 PULLMODE=UP ;
LOCATE COMP "SPI_CLK_OUT" SITE "G15" ;# L1_SPI_F1CLK
LOCATE COMP "SPI_CS_OUT" SITE "J16" ;# L1_SPI_F1CS
LOCATE COMP "SPI_SO_IN" SITE "D16" ;# L1_SPI_F1OUT
LOCATE COMP "SPI_SI_OUT" SITE "C16" ;# L1_SPI_F1IN
DEFINE PORT GROUP "spi_group" "SPI_*" ;
IOBUF GROUP "spi_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
#####################################################################
# To FPGA1
#####################################################################
LOCATE COMP "F1_F2_0" SITE "B12" ;
LOCATE COMP "F1_F2_1" SITE "A12" ;
LOCATE COMP "F1_F2_2" SITE "B8" ;
LOCATE COMP "F1_F2_3" SITE "A8" ;
LOCATE COMP "F1_F2_4" SITE "B9" ;
LOCATE COMP "F1_F2_5" SITE "A9" ;
LOCATE COMP "F1_F2_6" SITE "B11" ;
LOCATE COMP "F1_F2_7" SITE "A11" ;
LOCATE COMP "F1_F2_8" SITE "E7" ;
LOCATE COMP "F1_F2_9" SITE "D7" ;
LOCATE COMP "F1_F2_10" SITE "B6" ;
LOCATE COMP "F1_F2_11" SITE "A6" ;
LOCATE COMP "F1_F2_12" SITE "B5" ;
LOCATE COMP "F1_F2_13" SITE "A5" ;
LOCATE COMP "F1_F2_14" SITE "B3" ;
LOCATE COMP "F1_F2_15" SITE "A3" ;
LOCATE COMP "F1_F2_16" SITE "B2" ;
LOCATE COMP "F1_F2_17" SITE "A2" ;
LOCATE COMP "F1_F2_18" SITE "E11" ;
LOCATE COMP "F1_F2_19" SITE "D10" ;
LOCATE COMP "F1_F2_20" SITE "E10" ;
LOCATE COMP "F1_F2_21" SITE "F10" ;
LOCATE COMP "F1_F2_22" SITE "J12" ;
LOCATE COMP "F1_F2_23" SITE "H10" ;
DEFINE PORT GROUP "f1f2_group" "F1_F2*" ;
IOBUF GROUP "f1f2_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;

#####################################################################
# To FPGA3
#####################################################################
LOCATE COMP "F1_F3_0" SITE "D23" ;
LOCATE COMP "F1_F3_1" SITE "E21" ;
LOCATE COMP "F1_F3_2" SITE "D26" ;
LOCATE COMP "F1_F3_3" SITE "E26" ;
LOCATE COMP "F1_F3_4" SITE "E23" ;
LOCATE COMP "F1_F3_5" SITE "G22" ;
LOCATE COMP "F1_F3_6" SITE "D22" ;
LOCATE COMP "F1_F3_7" SITE "F21" ;
LOCATE COMP "F1_F3_8" SITE "G18" ;
LOCATE COMP "F1_F3_9" SITE "H18" ;
LOCATE COMP "F1_F3_10" SITE "D20" ;
LOCATE COMP "F1_F3_11" SITE "D21" ;
LOCATE COMP "F1_F3_12" SITE "E20" ;
LOCATE COMP "F1_F3_13" SITE "E19" ;
LOCATE COMP "F1_F3_14" SITE "D19" ;
LOCATE COMP "F1_F3_15" SITE "E18" ;
LOCATE COMP "F1_F3_16" SITE "D18" ;
LOCATE COMP "F1_F3_17" SITE "C17" ;
LOCATE COMP "F1_F3_18" SITE "A17" ;
LOCATE COMP "F1_F3_19" SITE "B17" ;
LOCATE COMP "F1_F3_20" SITE "A16" ;
LOCATE COMP "F1_F3_21" SITE "B16" ;
LOCATE COMP "F1_F3_22" SITE "G17" ;
#LOCATE COMP  "F1_F3_23"    SITE "G16";  used for 1-wire monitor
DEFINE PORT GROUP "f1f3_group" "F1_F3*" ;
IOBUF GROUP "f1f3_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;

#####################################################################
# ADC SPI
#####################################################################
LOCATE COMP "ADC_CSB_OUT_1" SITE "C15" ;
LOCATE COMP "ADC_CSB_OUT_2" SITE "E15" ;
LOCATE COMP "ADC_CSB_OUT_3" SITE "F14" ;
LOCATE COMP "ADC_CSB_OUT_4" SITE "B14" ;
LOCATE COMP "ADC_CSB_OUT_5" SITE "G13" ;
LOCATE COMP "ADC_CSB_OUT_6" SITE "D5" ;
DEFINE PORT GROUP "csb_group" "ADC_CSB*" ;
IOBUF GROUP "csb_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
LOCATE COMP "ADC_SCLK_OUT_1" SITE "D15" ;
LOCATE COMP "ADC_SCLK_OUT_2" SITE "G14" ;
LOCATE COMP "ADC_SCLK_OUT_3" SITE "H14" ;
LOCATE COMP "ADC_SCLK_OUT_4" SITE "D13" ;
LOCATE COMP "ADC_SCLK_OUT_5" SITE "J11" ;
LOCATE COMP "ADC_SCLK_OUT_6" SITE "E5" ;
DEFINE PORT GROUP "sclk_group" "ADC_SCLK*" ;
IOBUF GROUP "sclk_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
LOCATE COMP "ADC_SDIO_INOUT_1" SITE "C14" ;
LOCATE COMP "ADC_SDIO_INOUT_2" SITE "J14" ;
LOCATE COMP "ADC_SDIO_INOUT_3" SITE "A14" ;
LOCATE COMP "ADC_SDIO_INOUT_4" SITE "F13" ;
LOCATE COMP "ADC_SDIO_INOUT_5" SITE "D4" ;
LOCATE COMP "ADC_SDIO_INOUT_6" SITE "F6" ;
DEFINE PORT GROUP "sdio_group" "ADC_SDIO*" ;
IOBUF GROUP "sdio_group" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
#####################################################################
# ADC Clock In
#####################################################################
LOCATE COMP "ADCCLK_OUT_1" SITE "AC7" ;
LOCATE COMP "ADCCLK_OUT_2" SITE "AD2" ;
LOCATE COMP "ADCCLK_OUT_3" SITE "AC1" ;
LOCATE COMP "ADCCLK_OUT_4" SITE "P3" ;
LOCATE COMP "ADCCLK_OUT_5" SITE "H5" ;
LOCATE COMP "ADCCLK_OUT_6" SITE "G6" ;
DEFINE PORT GROUP "adcclk_group" "ADCCLK*" ;
IOBUF GROUP "adcclk_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
#####################################################################
# ADC Clock Out
#####################################################################
LOCATE COMP "DCO_IN_1" SITE "AC19" ;
LOCATE COMP "DCO_IN_2" SITE "AD13" ;
LOCATE COMP "DCO_IN_3" SITE "AE5" ;
LOCATE COMP "DCO_IN_4" SITE "M6" ;
LOCATE COMP "DCO_IN_5" SITE "J5" ;
LOCATE COMP "DCO_IN_6" SITE "J23" ;
DEFINE PORT GROUP "dco_group" "DCO*" ;
IOBUF GROUP "dco_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "FCO_IN_1" SITE "AB18" ;
LOCATE COMP "FCO_IN_2" SITE "AG2" ;
LOCATE COMP "FCO_IN_3" SITE "AE6" ;
LOCATE COMP "FCO_IN_4" SITE "M4" ;
LOCATE COMP "FCO_IN_5" SITE "H9" ;
LOCATE COMP "FCO_IN_6" SITE "K22" ;
DEFINE PORT GROUP "fco_group" "FCO*" ;
IOBUF GROUP "fco_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
#####################################################################
# ADC Data Out
#####################################################################
LOCATE COMP "P1_IN_1" SITE "AE14" ;
LOCATE COMP "P1_IN_2" SITE "AE13" ;
LOCATE COMP "P1_IN_3" SITE "AE10" ;
LOCATE COMP "P1_IN_4" SITE "AE11" ;
LOCATE COMP "P1_IN_5" SITE "AF10" ;
LOCATE COMP "P1_IN_6" SITE "AF3" ;
LOCATE COMP "P1_IN_7" SITE "AK2" ;
LOCATE COMP "P1_IN_8" SITE "AK3" ;
LOCATE COMP "P1_IN_9" SITE "H1" ;
LOCATE COMP "P1_IN_10" SITE "J3" ;
LOCATE COMP "P1_IN_11" SITE "N8" ;
LOCATE COMP "P1_IN_12" SITE "H3" ;
LOCATE COMP "P1_IN_13" SITE "E3" ;
LOCATE COMP "P1_IN_14" SITE "J8" ;
LOCATE COMP "P1_IN_15" SITE "D2" ;
LOCATE COMP "P1_IN_16" SITE "G7" ;
DEFINE PORT GROUP "p1_group" "P1*" ;
IOBUF GROUP "p1_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "P2_IN_1" SITE "AC9" ;
LOCATE COMP "P2_IN_2" SITE "AD4" ;
LOCATE COMP "P2_IN_3" SITE "AC5" ;
LOCATE COMP "P2_IN_4" SITE "AC4" ;
LOCATE COMP "P2_IN_5" SITE "AD6" ;
LOCATE COMP "P2_IN_6" SITE "AD7" ;
LOCATE COMP "P2_IN_7" SITE "AB9" ;
LOCATE COMP "P2_IN_8" SITE "Y1" ;
LOCATE COMP "P2_IN_9" SITE "F25" ;
LOCATE COMP "P2_IN_10" SITE "H25" ;
LOCATE COMP "P2_IN_11" SITE "G25" ;
LOCATE COMP "P2_IN_12" SITE "E27" ;
LOCATE COMP "P2_IN_13" SITE "G27" ;
LOCATE COMP "P2_IN_14" SITE "J28" ;
LOCATE COMP "P2_IN_15" SITE "E29" ;
LOCATE COMP "P2_IN_16" SITE "F29" ;
DEFINE PORT GROUP "p2_group" "P2*" ;
IOBUF GROUP "p2_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "PRE_IN_1" SITE "AF26" ;
LOCATE COMP "PRE_IN_2" SITE "AD24" ;
LOCATE COMP "PRE_IN_3" SITE "AG20" ;
LOCATE COMP "PRE_IN_4" SITE "AF21" ;
LOCATE COMP "PRE_IN_5" SITE "AC23" ;
LOCATE COMP "PRE_IN_6" SITE "AE20" ;
LOCATE COMP "PRE_IN_7" SITE "AE18" ;
LOCATE COMP "PRE_IN_8" SITE "AD18" ;
LOCATE COMP "PRE_IN_9" SITE "R8" ;
LOCATE COMP "PRE_IN_10" SITE "R5" ;
LOCATE COMP "PRE_IN_11" SITE "P5" ;
LOCATE COMP "PRE_IN_12" SITE "N5" ;
LOCATE COMP "PRE_IN_13" SITE "P6" ;
LOCATE COMP "PRE_IN_14" SITE "L5" ;
LOCATE COMP "PRE_IN_15" SITE "N9" ;
LOCATE COMP "PRE_IN_16" SITE "K2" ;
DEFINE PORT GROUP "pre_group" "PRE*" ;
IOBUF GROUP "pre_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
#####################################################################
# Frontend Control
#####################################################################
LOCATE COMP "FEB_CLK_OUT" SITE "T5" ;
LOCATE COMP "FEB_ENABLE_OUT" SITE "U3" ;
LOCATE COMP "FEB_EVEN_OUT" SITE "U1" ;
LOCATE COMP "FEB_HOLD_OUT" SITE "T3" ;
LOCATE COMP "FEB_ODD_OUT" SITE "V1" ;
LOCATE COMP "FEB_RBITIN_OUT" SITE "U5" ;
LOCATE COMP "FEB_RESET_OUT" SITE "R3" ;
DEFINE PORT GROUP "feb_group" "FEB*" ;
IOBUF GROUP "feb_group" IO_TYPE=LVDS25 PULLMODE=NONE ;
#####################################################################
# Trigger
#####################################################################
LOCATE COMP "HOLD_IN" SITE "J15" ;
LOCATE COMP "SPARE_IN" SITE "H15" ;
IOBUF PORT "HOLD_IN" IO_TYPE=LVTTL33 PULLMODE=DOWN ;
IOBUF PORT "SPARE_IN" IO_TYPE=LVTTL33 PULLMODE=DOWN ;

#####################################################################
# Onewire
#####################################################################
LOCATE COMP "ONEWIRE_MONITOR_IN" SITE "G16" ;#F1_F3_23
IOBUF PORT "ONEWIRE_MONITOR_IN" IO_TYPE=LVTTL33 PULLMODE=UP ;
#####################################################################
# Non-located ports
#####################################################################
# LOCATE COMP  "ADCCLK_N__1"    SITE "AC6";
# LOCATE COMP  "ADCCLK_N__2"    SITE "AD1";
# LOCATE COMP  "ADCCLK_N__3"    SITE "AC2";
# LOCATE COMP  "ADCCLK_N__4"    SITE "P2";
# LOCATE COMP  "ADCCLK_N__5"    SITE "H4";
# LOCATE COMP  "ADCCLK_N__6"    SITE "F5";
# LOCATE COMP  "DCO_N__1"   SITE "AD20";
# LOCATE COMP  "DCO_N__2"   SITE "AC13";
# LOCATE COMP  "DCO_N__3"   SITE "AF5";
# LOCATE COMP  "DCO_N__4"   SITE "M5";
# LOCATE COMP  "DCO_N__5"   SITE "J4";
# LOCATE COMP  "DCO_N__6"   SITE "J22";
# LOCATE COMP  "DONE_F_1"   SITE "AF27";
# LOCATE COMP  "F1_100_RXN"   SITE "B29";
# LOCATE COMP  "F1_100_RXP"   SITE "A29";
# LOCATE COMP  "F1_100_TXN"   SITE "B26";
# LOCATE COMP  "F1_100_TXP"   SITE "A26";
# LOCATE COMP  "F1_125_RXN"   SITE "AJ29";
# LOCATE COMP  "F1_125_RXP"   SITE "AK29";
# LOCATE COMP  "F1_125_TXN"   SITE "AJ26";
# LOCATE COMP  "F1_125_TXP"   SITE "AK26";
# LOCATE COMP  "F1_CFG_0"   SITE "AG28";
# LOCATE COMP  "F1_CFG_1"   SITE "AD25";
# LOCATE COMP  "F1_CFG_2"   SITE "AG27";
# LOCATE COMP  "F1_GPCLOCK100_N"    SITE "M30";
# LOCATE COMP  "F1_GPCLOCK125_N"    SITE "P29";
# LOCATE COMP  "F1O_F2I"    SITE "AF1";
# LOCATE COMP  "FCO_N__1"   SITE "AC20";
# LOCATE COMP  "FCO_N__2"   SITE "AG3";
# LOCATE COMP  "FCO_N__3"   SITE "AC8";
# LOCATE COMP  "FCO_N__4"   SITE "M3";
# LOCATE COMP  "FCO_N__5"   SITE "J10";
# LOCATE COMP  "FCO_N__6"   SITE "K23";
# LOCATE COMP  "FS_PE_0"    SITE "AE1";
# LOCATE COMP  "FS_PE_1"    SITE "AF2";
# LOCATE COMP  "FS_PE_2"    SITE "AE2";
# LOCATE COMP  "GND"    SITE "Y17";
# LOCATE COMP  "INITN_F_1"    SITE "AC24";
# LOCATE COMP  "L_FEB_CLK_N"    SITE "T4";
# LOCATE COMP  "L_FEB_ENABLE_N"   SITE "U2";
# LOCATE COMP  "L_FEB_EVEN_N"   SITE "V2";
# LOCATE COMP  "L_FEB_HOLD_N"   SITE "T2";
# LOCATE COMP  "L_FEB_ODD_N"    SITE "W1";
# LOCATE COMP  "L_FEB_RBITIN_N"   SITE "U4";
# LOCATE COMP  "L_FEB_RESET_N"    SITE "R2";
# LOCATE COMP  "P1_N__10"   SITE "J2";
# LOCATE COMP  "P1_N__11"   SITE "M9";
# LOCATE COMP  "P1_N__12"   SITE "H2";
# LOCATE COMP  "P1_N__13"   SITE "E4";
# LOCATE COMP  "P1_N__14"   SITE "H7";
# LOCATE COMP  "P1_N__15"   SITE "D3";
# LOCATE COMP  "P1_N__16"   SITE "H6";
# LOCATE COMP  "P1_N__1"    SITE "AC14";
# LOCATE COMP  "P1_N__2"    SITE "AC12";
# LOCATE COMP  "P1_N__3"    SITE "AD10";
# LOCATE COMP  "P1_N__4"    SITE "AD9";
# LOCATE COMP  "P1_N__5"    SITE "AE8";
# LOCATE COMP  "P1_N__6"    SITE "AF4";
# LOCATE COMP  "P1_N__7"    SITE "AJ2";
# LOCATE COMP  "P1_N__8"    SITE "AJ3";
# LOCATE COMP  "P1_N__9"    SITE "J1";
# LOCATE COMP  "P2_N__10"   SITE "G24";
# LOCATE COMP  "P2_N__11"   SITE "F26";
# LOCATE COMP  "P2_N__12"   SITE "D27";
# LOCATE COMP  "P2_N__13"   SITE "G28";
# LOCATE COMP  "P2_N__14"   SITE "H28";
# LOCATE COMP  "P2_N__15"   SITE "E30";
# LOCATE COMP  "P2_N__16"   SITE "F30";
# LOCATE COMP  "P2_N__1"    SITE "AC10";
# LOCATE COMP  "P2_N__2"    SITE "AD5";
# LOCATE COMP  "P2_N__3"    SITE "AD3";
# LOCATE COMP  "P2_N__4"    SITE "AC3";
# LOCATE COMP  "P2_N__5"    SITE "AE7";
# LOCATE COMP  "P2_N__6"    SITE "AD8";
# LOCATE COMP  "P2_N__7"    SITE "AB10";
# LOCATE COMP  "P2_N__8"    SITE "Y2";
# LOCATE COMP  "P2_N__9"    SITE "F24";
# LOCATE COMP  "PRE_N__10"    SITE "R4";
# LOCATE COMP  "PRE_N__11"    SITE "P4";
# LOCATE COMP  "PRE_N__12"    SITE "N6";
# LOCATE COMP  "PRE_N__13"    SITE "P8";
# LOCATE COMP  "PRE_N__14"    SITE "L4";
# LOCATE COMP  "PRE_N__15"    SITE "N7";
# LOCATE COMP  "PRE_N__16"    SITE "K1";
# LOCATE COMP  "PRE_N__1"   SITE "AE25";
# LOCATE COMP  "PRE_N__2"   SITE "AE24";
# LOCATE COMP  "PRE_N__3"   SITE "AG21";
# LOCATE COMP  "PRE_N__4"   SITE "AG22";
# LOCATE COMP  "PRE_N__5"   SITE "AD23";
# LOCATE COMP  "PRE_N__6"   SITE "AE21";
# LOCATE COMP  "PRE_N__7"   SITE "AG19";
# LOCATE COMP  "PRE_N__8"   SITE "AC18";
# LOCATE COMP  "PRE_N__9"   SITE "T9";
# LOCATE COMP  "SPI_F1CLK"    SITE "AG29";
# LOCATE COMP  "SPI_F1CS"   SITE "AA22";
# LOCATE COMP  "SPI_F1IN"   SITE "AA23";
# LOCATE COMP  "SPI_F1OUT"    SITE "AD30";
# LOCATE COMP  "SPI_FAST_1"   SITE "AF29";
#
#
#####################################################################
# Basic constraints
#####################################################################
COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK RD_DURING_WR_PATHS ;
#####################################################################
# Clocks
#####################################################################
FREQUENCY PORT "CLK_100_IN" 100.000000 MHz ;
FREQUENCY PORT "CLK_125_IN" 125.000000 MHz ;

FREQUENCY PORT "DCO_IN_1" 100.000000 MHz ;
FREQUENCY PORT "DCO_IN_2" 100.000000 MHz ;
FREQUENCY PORT "DCO_IN_3" 100.000000 MHz ;
FREQUENCY PORT "DCO_IN_4" 100.000000 MHz ;
FREQUENCY PORT "DCO_IN_5" 100.000000 MHz ;
FREQUENCY PORT "DCO_IN_6" 100.000000 MHz ;
FREQUENCY PORT "THE_PLL_20/CLKOP" 20.000000 MHz ;

FREQUENCY PORT "GENERATE_LVDS_CLOCK_FOR_ADC_0_THE_ADC_CLK_OUT/Q" 20.000000 MHz ;

FREQUENCY PORT "GENERATE_LVDS_CLOCK_FOR_ADC_1_THE_ADC_CLK_OUT/Q" 20.000000 MHz ;

FREQUENCY PORT "GENERATE_LVDS_CLOCK_FOR_ADC_2_THE_ADC_CLK_OUT/Q" 20.000000 MHz ;

FREQUENCY PORT "GENERATE_LVDS_CLOCK_FOR_ADC_3_THE_ADC_CLK_OUT/Q" 20.000000 MHz ;

FREQUENCY PORT "GENERATE_LVDS_CLOCK_FOR_ADC_4_THE_ADC_CLK_OUT/Q" 20.000000 MHz ;

FREQUENCY PORT "GENERATE_LVDS_CLOCK_FOR_ADC_5_THE_ADC_CLK_OUT/Q" 20.000000 MHz ;

PROHIBIT PRIMARY NET "DCO_IN_c_1" ;
PROHIBIT PRIMARY NET "DCO_IN_c_2" ;
PROHIBIT PRIMARY NET "DCO_IN_c_3" ;
PROHIBIT PRIMARY NET "DCO_IN_c_4" ;
PROHIBIT PRIMARY NET "DCO_IN_c_5" ;
PROHIBIT PRIMARY NET "DCO_IN_c_6" ;
PROHIBIT SECONDARY NET "DCO_IN_c_1" ;
PROHIBIT SECONDARY NET "DCO_IN_c_2" ;
PROHIBIT SECONDARY NET "DCO_IN_c_3" ;
PROHIBIT SECONDARY NET "DCO_IN_c_4" ;
PROHIBIT SECONDARY NET "DCO_IN_c_5" ;
PROHIBIT SECONDARY NET "DCO_IN_c_6" ;
MULTICYCLE FROM CELL "THE_MEDIA_INTERFACE_0/THE_SFP_LSM/reset_me_2" 20.000000 ns ;

MULTICYCLE FROM CELL "reset_i_fast_3" 20.000000 ns ;

MULTICYCLE FROM CELL "reset_i" 20.000000 ns ;
MULTICYCLE FROM CELL "reset_i*" 20.000000 ns ;
#####################################################################
# Input Timing
#####################################################################
DEFINE PORT GROUP "ADC1_INPUTS" "PRE_IN_1" 
"PRE_IN_2" 
"PRE_IN_3" 
"PRE_IN_4" 
"PRE_IN_5" 
"PRE_IN_6" 
"PRE_IN_7" 
"PRE_IN_8" ;
INPUT_SETUP GROUP "ADC1_INPUTS"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_1" ;
DEFINE PORT GROUP "ADC4_INPUTS" "PRE_IN_9" 
"PRE_IN_10" 
"PRE_IN_11" 
"PRE_IN_12" 
"PRE_IN_13" 
"PRE_IN_14" 
"PRE_IN_15" 
"PRE_IN_16" ;
INPUT_SETUP GROUP "ADC4_INPUTS"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_4" ;
DEFINE PORT GROUP "ADC2_INPUTS" "P1_IN_1" 
"P1_IN_2" 
"P1_IN_3" 
"P1_IN_4" 
"P1_IN_5" 
"P1_IN_6" 
"P1_IN_7" 
"P1_IN_8" ;
INPUT_SETUP GROUP "ADC2_INPUTS"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_2" ;
DEFINE PORT GROUP "ADC5_INPUTS" "P1_IN_9" 
"P1_IN_10" 
"P1_IN_11" 
"P1_IN_12" 
"P1_IN_13" 
"P1_IN_14" 
"P1_IN_15" 
"P1_IN_16" ;
INPUT_SETUP GROUP "ADC5_INPUTS"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_5" ;
DEFINE PORT GROUP "ADC3_INPUTS" "P2_IN_1" 
"P2_IN_2" 
"P2_IN_3" 
"P2_IN_4" 
"P2_IN_5" 
"P2_IN_6" 
"P2_IN_7" 
"P2_IN_8" ;
INPUT_SETUP GROUP "ADC3_INPUTS"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_3" ;
DEFINE PORT GROUP "ADC6_INPUTS" "P2_IN_9" 
"P2_IN_10" 
"P2_IN_11" 
"P2_IN_12" 
"P2_IN_13" 
"P2_IN_14" 
"P2_IN_15" 
"P2_IN_16" ;
INPUT_SETUP GROUP "ADC6_INPUTS"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_6" ;
DEFINE PORT GROUP "ADC1_INP_FRAME" "FCO_IN_1" ;
INPUT_SETUP GROUP "ADC1_INP_FRAME"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_1" ;
DEFINE PORT GROUP "ADC2_INP_FRAME" "FCO_IN_2" ;
INPUT_SETUP GROUP "ADC2_INP_FRAME"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_2" ;
DEFINE PORT GROUP "ADC3_INP_FRAME" "FCO_IN_3" ;
INPUT_SETUP GROUP "ADC3_INP_FRAME"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_3" ;
DEFINE PORT GROUP "ADC4_INP_FRAME" "FCO_IN_4" ;
INPUT_SETUP GROUP "ADC4_INP_FRAME"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_4" ;
DEFINE PORT GROUP "ADC5_INP_FRAME" "FCO_IN_5" ;
INPUT_SETUP GROUP "ADC5_INP_FRAME"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_5" ;
DEFINE PORT GROUP "ADC6_INP_FRAME" "FCO_IN_6" ;
INPUT_SETUP GROUP "ADC6_INP_FRAME"2.500000 ns HOLD 1.500000 ns CLKPORT "DCO_IN_6" ;
#####################################################################
# Regions
#####################################################################
REGION "MED0" "R9C73" 15 18 DEVSIZE;
LOCATE COMP "THE_MEDIA_INTERFACE_0/gen_serdes_0_THE_SERDES/PCSC_INST" SITE "URPCS" ;
LOCATE UGROUP "THE_MEDIA_INTERFACE_0/media_interface_group" REGION "MED0" ;
#####################################################################
# Locate serpar
#####################################################################
REGION "region_serpar_0" "R63C47" 12 26 DEVSIZE;
REGION "region_serpar_1" "R63C10" 12 26 DEVSIZE;
REGION "region_serpar_2" "R53C2" 20 12 DEVSIZE;
REGION "region_serpar_3" "R20C2" 22 12 DEVSIZE;
REGION "region_serpar_4" "R16C2" 20 12 DEVSIZE;
REGION "region_serpar_5" "R9C89" 30 12 DEVSIZE;
LOCATE UGROUP "gen_read_ADC_0_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_0" ;
LOCATE UGROUP "gen_read_ADC_1_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_1" ;
LOCATE UGROUP "gen_read_ADC_2_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_2" ;
LOCATE UGROUP "gen_read_ADC_3_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_3" ;
LOCATE UGROUP "gen_read_ADC_4_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_4" ;
LOCATE UGROUP "gen_read_ADC_5_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_5" ;
REGION "region_adc_0" "R48C47" 22 26 DEVSIZE;
REGION "region_adc_1" "R48C10" 22 31 DEVSIZE;
REGION "region_adc_2" "R42C2" 20 22 DEVSIZE;
REGION "region_adc_3" "R20C15" 22 22 DEVSIZE;
REGION "region_adc_4" "R2C18" 15 30 DEVSIZE;
REGION "region_adc_5" "R9C64" 35 17 DEVSIZE;
LOCATE UGROUP "gen_read_ADC_0_THE_ADC_READ/ADC_chip" REGION "region_adc_0" ;
LOCATE UGROUP "gen_read_ADC_1_THE_ADC_READ/ADC_chip" REGION "region_adc_1" ;
LOCATE UGROUP "gen_read_ADC_2_THE_ADC_READ/ADC_chip" REGION "region_adc_2" ;
LOCATE UGROUP "gen_read_ADC_3_THE_ADC_READ/ADC_chip" REGION "region_adc_3" ;
LOCATE UGROUP "gen_read_ADC_4_THE_ADC_READ/ADC_chip" REGION "region_adc_4" ;
LOCATE UGROUP "gen_read_ADC_5_THE_ADC_READ/ADC_chip" REGION "region_adc_5" ;
LOCATE COMP "RESET_IN" SITE "A15" ;#async reset trick
IOBUF PORT "RESET_IN" IO_TYPE=LVTTL33 PULLMODE=UP ;
FREQUENCY NET "clk_20" 20.000000 MHz ;
UGROUP "gen_read_ADC_1_THE_ADC_READ/ADC_chip" 
	BLKNAME gen_read_ADC_1_THE_ADC_READ;
UGROUP "gen_read_ADC_5_THE_ADC_READ/ADC/ADC_serpar_group" 
	BLKNAME gen_read_ADC_5_THE_ADC_READ/ADC;
UGROUP "gen_read_ADC_3_THE_ADC_READ/ADC_chip" 
	BLKNAME gen_read_ADC_3_THE_ADC_READ;
UGROUP "gen_read_ADC_0_THE_ADC_READ/ADC/ADC_serpar_group" 
	BLKNAME gen_read_ADC_0_THE_ADC_READ/ADC;
UGROUP "gen_read_ADC_5_THE_ADC_READ/ADC_chip" 
	BLKNAME gen_read_ADC_5_THE_ADC_READ;
UGROUP "gen_read_ADC_2_THE_ADC_READ/ADC/ADC_serpar_group" 
	BLKNAME gen_read_ADC_2_THE_ADC_READ/ADC;
UGROUP "THE_MEDIA_INTERFACE_0/media_interface_group" 
	BLKNAME THE_MEDIA_INTERFACE_0;
UGROUP "gen_read_ADC_4_THE_ADC_READ/ADC/ADC_serpar_group" 
	BLKNAME gen_read_ADC_4_THE_ADC_READ/ADC;
UGROUP "gen_read_ADC_0_THE_ADC_READ/ADC_chip" 
	BLKNAME gen_read_ADC_0_THE_ADC_READ;
UGROUP "gen_read_ADC_2_THE_ADC_READ/ADC_chip" 
	BLKNAME gen_read_ADC_2_THE_ADC_READ;
UGROUP "gen_read_ADC_4_THE_ADC_READ/ADC_chip" 
	BLKNAME gen_read_ADC_4_THE_ADC_READ;
UGROUP "gen_read_ADC_1_THE_ADC_READ/ADC/ADC_serpar_group" 
	BLKNAME gen_read_ADC_1_THE_ADC_READ/ADC;
UGROUP "gen_read_ADC_3_THE_ADC_READ/ADC/ADC_serpar_group" 
	BLKNAME gen_read_ADC_3_THE_ADC_READ/ADC;
LOCATE UGROUP "gen_read_ADC_1_THE_ADC_READ/ADC_chip" REGION "region_adc_1" ;
LOCATE UGROUP "gen_read_ADC_5_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_5" ;
LOCATE UGROUP "gen_read_ADC_3_THE_ADC_READ/ADC_chip" REGION "region_adc_3" ;
LOCATE UGROUP "gen_read_ADC_0_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_0" ;
LOCATE UGROUP "gen_read_ADC_5_THE_ADC_READ/ADC_chip" REGION "region_adc_5" ;
LOCATE UGROUP "gen_read_ADC_2_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_2" ;
LOCATE UGROUP "THE_MEDIA_INTERFACE_0/media_interface_group" REGION "MED0" ;
LOCATE UGROUP "gen_read_ADC_4_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_4" ;
LOCATE UGROUP "gen_read_ADC_0_THE_ADC_READ/ADC_chip" REGION "region_adc_0" ;
LOCATE UGROUP "gen_read_ADC_2_THE_ADC_READ/ADC_chip" REGION "region_adc_2" ;
LOCATE UGROUP "gen_read_ADC_4_THE_ADC_READ/ADC_chip" REGION "region_adc_4" ;
LOCATE UGROUP "gen_read_ADC_1_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_1" ;
LOCATE UGROUP "gen_read_ADC_3_THE_ADC_READ/ADC/ADC_serpar_group" REGION "region_serpar_3" ;
